<!DOCTYPE html>
<html>
    <p>album ID?</p>
    <form action='album' method='get'>
      <ul class='unstyled'>
        <% AlID.each do |id, text| %>
          <li>
            <label class='textbox'>
              <input type='text' name='vote' value='<%= id %>' id='vote_<%= id %>' />
              <%= text %>
            </label>
          </li>
        <% end %>
      </ul>
      <button type='submit' class='btn btn-primary'> Results</button>
    </form>
  </body>
</html>